.services {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.titulo {
    font-size: 2em;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 0%;
    padding: 5em 20em 5em 20em;
    height: 140vh;
}


.div1 {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0em 3em 0em 3em;
    height: 70vh;
    background-image: linear-gradient(rgba(0, 26, 39, 0.5), rgb(0, 28, 43)), url('https://plus.unsplash.com/premium_photo-1672116453086-4923dd54a8d1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
}

.div1>div {
    min-width: 50%;
}

.imagen {
    max-width: 100%;
    height: auto;
}

.div2 {
    grid-area: 2 / 1 / 3 / 2;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url('https://images.unsplash.com/photo-1504890001746-a9a68eda46e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1087&q=80');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    margin: 0%;
    height: 70vh;
    padding: 2em 1em 2em 1em;
}

.div3 {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: 70vh;
}

.div3>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.div4 {
    grid-area: 2 / 3 / 3 / 4;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url('https://images.unsplash.com/photo-1555009306-9e3c5b6a66e3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    height: 70vh;
    padding: 2em;
}