.parent {
    width: 100vw;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100%;
    grid-column-gap: 1em;
    text-align: center;
    background-color: #000;
    grid-auto-flow: dense;
    grid-auto-rows: minmax(min-content, max-content);
    position: relative;
}

.titulo {
    font-size: 10em;
    margin: 0%;
    color: transparent;
    background-image: url('https://images.unsplash.com/photo-1617083934555-5fc3dc25434d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=973&q=80'); /* Ruta del archivo de video */
    background-clip: text;
    background-size: cover;
    background-position: center;
    top: 0%;
    left: 0%;
}

.div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em;
}

.div2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
