.parent {
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100%;
    grid-column-gap: 1em;
    text-align: center;
    background-color: #000;
    grid-auto-flow: dense;
    grid-auto-rows: minmax(min-content, max-content);
}

.div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em;
}

.div2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
