.principal{
    position: relative;
    width: 100vw;
    height: 100%;
}

.video {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -10;
    top: 0;
    left: 0;
    object-fit: cover;
}

.titulo {
    text-align: center;
    margin: 0%;
    background-color: black;
    height: 100%;
    mix-blend-mode: multiply;
    font-weight: bold;
}

/*Responsive*/

@media (max-width: 1200px) {

    .principal{
        height: 100%;
    }

 .titulo{
    font-size: 5em;
 }
}