.iframer {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -10;
    top: 0;
    left: 0;
    object-fit: cover;
}



.section {
    width: 100vw;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: -10;
    background-image: linear-gradient(#000000a3, #000);
}

.imagen {
    top: 0;
    /* position: sticky; */
    height: 40em;
    z-index: -1;
    margin: 0;
}

.section>h1 {
    font-size: 4em;
    margin: 0;
    color: #d4d4d4;
}

.section>h2 {
    color: #d4d4d4;
    margin: 0;
}

.parrafo {
    font-size: 1.3em;
    padding-left: 25em;
    padding-right: 25em;
    color: #b9b9b9;
    letter-spacing: 1px;
    margin-bottom: 2em;
}


.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
    justify-items: center;
    align-items: center;
    margin-bottom: 1em;
}

.parent>div {
    border-radius: 15px;
    width: 8em;
    height: 8em;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 0.1em;
}

@media (max-width: 1200px) {
    .parrafo {
        padding-left: 2em;
        padding-right: 2em;
    }

    .parent>div {
        display: none;
    }
}

/*-----------------------------------ICONOS--------------------------------------*/

.icono1 {
    background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' height='200px' width='200px' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 470.175 470.175' xml:space='preserve'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M429.219,44.707c-0.752-1.666-2.085-2.999-3.751-3.751C365.393,13.84,301.347,0.092,235.11,0.089 C168.828,0.092,104.782,13.84,44.707,40.956c-1.666,0.752-2.999,2.085-3.751,3.751c-54.607,120.989-54.607,259.772,0,380.762 c0.752,1.666,2.085,2.999,3.751,3.751c60.075,27.115,124.121,40.864,190.359,40.867c66.282-0.003,130.328-13.752,190.403-40.867 c1.666-0.752,2.999-2.085,3.751-3.751C483.827,304.479,483.827,165.696,429.219,44.707z M448.049,314.649 c-30.935,8.29-63.534,14.636-97.032,19.036c3.264-29.816,5.033-60.309,5.268-91.098h98.817 C454.698,266.715,452.348,290.816,448.049,314.649z M242.587,455.018v-98.717c30.76-0.252,61.345-2.057,91.238-5.34 c-4.448,33.581-10.856,66.139-19.157,97.093C291.024,452.293,266.965,454.622,242.587,455.018z M22.125,155.526 c30.944-8.292,63.553-14.64,97.062-19.04c-3.278,29.942-5.038,60.47-5.285,91.102H15.073 C15.476,203.46,17.827,179.359,22.125,155.526z M227.587,15.157v98.717c-30.748,0.252-61.32,2.056-91.202,5.336 c4.437-33.512,10.827-66.111,19.134-97.092C179.159,17.881,203.214,15.552,227.587,15.157z M314.663,22.12 c8.267,30.83,14.673,63.323,19.133,97.091c-29.884-3.281-60.459-5.085-91.209-5.337V15.157 C266.964,15.553,291.02,17.881,314.663,22.12z M227.587,129.059v98.528h-98.697c0.255-31.287,2.13-62.453,5.602-92.977 C165.089,131.158,196.312,129.315,227.587,129.059z M15.073,242.587h98.819c0.25,30.505,2.026,61.029,5.325,91.106 c-33.519-4.4-66.138-10.75-97.092-19.044C17.827,290.816,15.476,266.715,15.073,242.587z M128.881,242.587h98.706v98.528 c-31.271-0.255-62.489-2.099-93.081-5.55C131.012,304.893,129.142,273.727,128.881,242.587z M242.587,341.116v-98.528h98.698 c-0.244,31.455-2.11,62.587-5.564,92.972C305.112,339.015,273.876,340.86,242.587,341.116z M356.28,227.587 c-0.09-10.514-0.35-21.054-0.799-31.606c-0.176-4.138-3.652-7.365-7.812-7.175c-4.139,0.176-7.351,3.674-7.175,7.812 c0.44,10.341,0.696,20.668,0.785,30.97h-98.692v-98.528c31.274,0.255,62.496,2.099,93.091,5.551 c1.209,10.659,2.239,21.428,3.066,32.309c0.3,3.937,3.587,6.932,7.471,6.932c0.19,0,0.383-0.007,0.576-0.021 c4.13-0.314,7.224-3.917,6.91-8.047c-0.749-9.853-1.656-19.62-2.713-29.297c33.508,4.4,66.117,10.748,97.061,19.04 c4.299,23.833,6.649,47.934,7.053,72.062H356.28z M444.774,139.134c-30.416-7.805-62.531-13.872-95.625-18.103 c-4.23-33.17-10.29-65.177-18.122-95.657c29.303,6.403,57.926,15.774,85.68,28.093C429.023,81.224,438.373,109.933,444.774,139.134z M53.468,53.467c27.752-12.318,56.374-21.689,85.675-28.092c-7.864,30.623-13.901,62.729-18.108,95.655 c-33.098,4.231-65.216,10.299-95.634,18.104C31.802,109.933,41.152,81.224,53.468,53.467z M25.401,331.041 c30.42,7.806,62.54,13.874,95.64,18.105c1.558,12.177,3.362,24.267,5.431,36.235c0.631,3.649,3.8,6.224,7.382,6.224 c0.424,0,0.854-0.036,1.286-0.11c4.082-0.706,6.818-4.587,6.113-8.668c-1.821-10.531-3.427-21.161-4.845-31.859 c29.874,3.279,60.439,5.082,91.179,5.334v98.717c-24.381-0.396-48.442-2.725-72.089-6.965c-3.108-11.606-6.008-23.708-8.637-36.051 c-0.863-4.051-4.85-6.63-8.898-5.773c-4.051,0.863-6.636,4.847-5.773,8.898c2.149,10.09,4.48,20.023,6.954,29.673 c-29.301-6.403-57.923-15.774-85.675-28.092C41.152,388.95,31.802,360.242,25.401,331.041z M416.707,416.708 c-27.753,12.318-56.375,21.69-85.677,28.093c7.865-30.602,13.937-62.665,18.156-95.661c33.082-4.231,65.184-10.297,95.588-18.099 C438.373,360.242,429.023,388.95,416.707,416.708z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    height: 4em;
    width: 4em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.icono2 {
    background-image: url("data:image/svg+xml,%3Csvg height='200px' width='200px' version='1.1' id='_x32_' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512' xml:space='preserve' fill='%23ffffff'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23ffffff;%7D %3C/style%3E%3Cg%3E%3Cpath class='st0' d='M165.334,217.207l55.888,43.111c2.151,17.38,16.802,30.896,34.778,30.896c19.453,0,35.214-15.77,35.214-35.214 c0-0.754-0.174-1.452-0.222-2.198l81.904-96.896c5.722-6.413,5.818-15.651,0.246-20.604c-5.579-4.968-14.73-3.777-20.436,2.635 l-80.485,85.984c-4.873-2.556-10.341-4.135-16.222-4.135c-6.302,0-12.126,1.786-17.238,4.683l-52.626-36.643 c-6.786-5-16.961-2.683-22.715,5.159C157.683,201.809,158.524,212.214,165.334,217.207z'%3E%3C/path%3E%3Cpath class='st0' d='M256,0c-11.222,0-20.317,9.096-20.317,20.318c0,11.222,9.096,20.317,20.317,20.317 c59.54,0.008,113.246,24.072,152.286,63.079c39.008,39.032,63.072,92.746,63.079,152.286 c-0.007,59.54-24.071,113.246-63.079,152.286c-39.04,39.008-92.746,63.071-152.286,63.079 c-59.539-0.008-113.254-24.072-152.285-63.079C64.707,369.246,40.643,315.54,40.635,256c0.008-43.262,12.77-83.436,34.699-117.15 l18.857,14.094c2.04,1.524,4.738,1.905,7.127,1c2.381-0.904,4.159-2.944,4.683-5.452l12.69-60.023 c2.262-3.882,3.23-8.342,2.682-12.723l5.738-27.127c0.611-2.856-0.508-5.794-2.834-7.548c-2.342-1.738-5.476-1.976-8.048-0.579 l-89.786,48.54c-2.254,1.23-3.722,3.5-3.904,6.047c-0.191,2.54,0.936,5.016,2.984,6.548l17.174,12.833 C15.746,155.016-0.007,203.706,0,256c0.016,141.396,114.604,255.984,256,256c141.397-0.016,255.985-114.604,256-256 C511.985,114.604,397.397,0.016,256,0z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    height: 4em;
    width: 4em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.icono3 {
    background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' height='200px' width='200px' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 290.262 290.262' xml:space='preserve'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg id='_x34_2-_1080_Full_HD'%3E%3Cpath d='M278.743,29.29H11.519C5.157,29.29,0,34.447,0,40.809v128.645v11.355v68.645c0,6.361,5.157,11.519,11.519,11.519h267.225 c6.361,0,11.519-5.157,11.519-11.519v-68.645v-11.355V40.809C290.262,34.447,285.104,29.29,278.743,29.29z M56.563,185.959H33.751 v15.375H54.19v4.813H33.751v18.748h-4.996v-43.748h27.809V185.959z M99.69,206.895c0,11.375-6.875,18.252-18.313,18.252 c-11.5,0-18.436-6.877-18.436-18.252v-25.748h5v25.748c0,8.5,5.122,13.439,13.436,13.439c8.313,0,13.313-4.939,13.313-13.439 v-25.748h5V206.895z M136.13,224.895h-24.188v-43.748h5v39.002h19.188V224.895z M168.444,224.895h-24.187v-43.748h4.998v39.002 h19.189V224.895z M214.693,224.895h-11.126v-16.998h-18.121v16.998h-11.127v-43.748h11.127v18h18.121v-18h11.126V224.895z M241.822,224.895h-18.376v-25.201h11.125v16.33h7.939c6.811,0,11.688-5.254,11.688-12.939c0-7.754-5.126-13.063-12.189-13.063 h-18.563v-8.875h18.813c13.75,0,23.248,8.875,23.248,21.873C265.507,215.957,255.882,224.895,241.822,224.895z M267.225,157.935 H23.037V52.327h244.188V157.935z'%3E%3C/path%3E%3Cpolygon points='53.415,128.666 66.592,128.666 66.592,76.775 43.866,76.775 43.866,87.363 53.415,87.363 '%3E%3C/polygon%3E%3Cpath d='M99.901,129.037c14.656,0,22.873-9.404,22.873-26.354c0-16.877-8.217-26.279-22.873-26.279 c-14.805,0-23.021,9.402-23.021,26.279C76.88,119.633,85.097,129.037,99.901,129.037z M99.901,86.029c6.514,0,9.4,4.813,9.4,16.654 s-2.887,16.729-9.4,16.729c-6.664,0-9.475-4.887-9.475-16.729S93.237,86.029,99.901,86.029z'%3E%3C/path%3E%3Cpath d='M128.401,114.232c0,9.178,8.29,15.025,21.246,15.025c12.951,0,21.243-5.922,21.243-15.25 c0-5.771-3.552-10.732-9.253-13.102c4.072-2.221,6.514-6.217,6.514-10.734c0-8.512-7.18-13.914-18.58-13.914 c-11.25,0-18.505,5.258-18.505,13.549c0,4.512,2.814,8.656,7.18,11.1C132.251,103.275,128.401,108.307,128.401,114.232z M149.647,84.918c4.811,0,7.475,2.148,7.475,5.994c0,3.703-2.664,5.777-7.475,5.777c-4.813,0-7.477-2.074-7.477-5.777 C142.17,87.066,144.835,84.918,149.647,84.918z M149.647,106.164c5.697,0,8.881,2.441,8.881,6.736c0,4.441-3.184,6.811-8.881,6.811 c-5.701,0-8.809-2.445-8.809-6.811C140.839,108.605,143.946,106.164,149.647,106.164z'%3E%3C/path%3E%3Cpath d='M199.466,129.037c14.655,0,22.872-9.404,22.872-26.354c0-16.877-8.217-26.279-22.872-26.279 c-14.805,0-23.023,9.402-23.023,26.279C176.443,119.633,184.661,129.037,199.466,129.037z M199.466,86.029 c6.514,0,9.398,4.813,9.398,16.654s-2.885,16.729-9.398,16.729c-6.662,0-9.475-4.887-9.475-16.729S192.804,86.029,199.466,86.029z'%3E%3C/path%3E%3Cpath d='M234.948,121.119h4.865c6.857,0,10.803-3.641,10.803-9.924c0-5.973-3.945-9.346-10.803-9.346h-11.682v26.816h6.816V121.119 z M234.948,107.213h4.521c2.987,0,4.712,1.414,4.712,4.217c0,2.832-1.725,4.326-4.712,4.326h-4.521V107.213z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    height: 4em;
    width: 4em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.icono4 {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M20 10V14M11 10L9 12H12L10 14M4 9V15C4 15.5523 4.44772 16 5 16H17C17.5523 16 18 15.5523 18 15V9C18 8.44772 17.5523 8 17 8H5C4.44772 8 4 8.44772 4 9Z' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    height: 4em;
    width: 4em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.icono5 {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M14.78 20H9.78C7.98 20 4.58 19.09 4.58 15.64C4.58 12.19 7.98 11.28 9.78 11.28H14.22C14.37 11.28 17.92 11.23 17.92 8.42C17.92 5.61 14.37 5.56 14.22 5.56H9.22C9.02109 5.56 8.83032 5.48098 8.68967 5.34033C8.54902 5.19968 8.47 5.00891 8.47 4.81C8.47 4.61109 8.54902 4.42032 8.68967 4.27967C8.83032 4.13902 9.02109 4.06 9.22 4.06H14.22C16.02 4.06 19.42 4.97 19.42 8.42C19.42 11.87 16.02 12.78 14.22 12.78H9.78C9.63 12.78 6.08 12.83 6.08 15.64C6.08 18.45 9.63 18.5 9.78 18.5H14.78C14.9789 18.5 15.1697 18.579 15.3103 18.7197C15.451 18.8603 15.53 19.0511 15.53 19.25C15.53 19.4489 15.451 19.6397 15.3103 19.7803C15.1697 19.921 14.9789 20 14.78 20Z' fill='%23ffffff'%3E%3C/path%3E%3Cpath d='M6.44 8.31C5.74314 8.30407 5.06363 8.09202 4.48708 7.70056C3.91054 7.30909 3.46276 6.75573 3.20018 6.11021C2.93759 5.46469 2.87195 4.75589 3.01153 4.07312C3.1511 3.39036 3.48965 2.76418 3.9845 2.2735C4.47935 1.78281 5.10837 1.44958 5.79229 1.31579C6.47622 1.182 7.18444 1.25363 7.82771 1.52167C8.47099 1.78971 9.02054 2.24215 9.40711 2.82199C9.79368 3.40182 9.99998 4.08311 10 4.78C10 5.2461 9.90773 5.70759 9.72846 6.13783C9.54919 6.56808 9.28648 6.95856 8.95551 7.28675C8.62453 7.61494 8.23184 7.87433 7.80009 8.04995C7.36834 8.22558 6.90609 8.31396 6.44 8.31ZM6.44 2.75C6.04444 2.75 5.65776 2.86729 5.32886 3.08706C4.99996 3.30682 4.74362 3.61918 4.59224 3.98463C4.44087 4.35008 4.40126 4.75221 4.47843 5.14018C4.5556 5.52814 4.74609 5.8845 5.02579 6.16421C5.3055 6.44391 5.66186 6.6344 6.04982 6.71157C6.43779 6.78874 6.83992 6.74913 7.20537 6.59776C7.57082 6.44638 7.88318 6.19003 8.10294 5.86114C8.32271 5.53224 8.44 5.14556 8.44 4.75C8.44 4.48735 8.38827 4.22728 8.28776 3.98463C8.18725 3.74198 8.03993 3.5215 7.85422 3.33578C7.6685 3.15007 7.44802 3.00275 7.20537 2.90224C6.96272 2.80173 6.70265 2.75 6.44 2.75Z' fill='%23ffffff'%3E%3C/path%3E%3Cpath d='M17.56 22.75C16.8614 22.752 16.1779 22.5466 15.5961 22.1599C15.0143 21.7733 14.5603 21.2227 14.2916 20.5778C14.0229 19.933 13.9515 19.2229 14.0866 18.5375C14.2217 17.8521 14.5571 17.2221 15.0504 16.7275C15.5437 16.2328 16.1726 15.8956 16.8577 15.7586C17.5427 15.6215 18.253 15.6909 18.8986 15.9577C19.5442 16.2246 20.0961 16.6771 20.4844 17.2578C20.8727 17.8385 21.08 18.5214 21.08 19.22C21.08 20.1545 20.7095 21.0508 20.0496 21.7125C19.3898 22.3743 18.4945 22.7473 17.56 22.75ZM17.56 17.19C17.1644 17.19 16.7778 17.3073 16.4489 17.5271C16.12 17.7468 15.8636 18.0592 15.7122 18.4246C15.5609 18.7901 15.5213 19.1922 15.5984 19.5802C15.6756 19.9681 15.8661 20.3245 16.1458 20.6042C16.4255 20.8839 16.7819 21.0744 17.1698 21.1516C17.5578 21.2287 17.9599 21.1891 18.3254 21.0377C18.6908 20.8864 19.0032 20.63 19.2229 20.3011C19.4427 19.9722 19.56 19.5856 19.56 19.19C19.56 18.6596 19.3493 18.1508 18.9742 17.7758C18.5991 17.4007 18.0904 17.19 17.56 17.19Z' fill='%23ffffff'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    height: 4em;
    width: 4em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.icono6 {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg' fill='%23ffffff'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M0 0h48v48H0z' fill='none'%3E%3C/path%3E%3Cg id='Shopicon'%3E%3Cpath d='M10,22v2c0,7.72,6.28,14,14,14s14-6.28,14-14s-6.28-14-14-14h-4V4l-8,8l8,8v-6h4c5.514,0,10,4.486,10,10s-4.486,10-10,10 s-10-4.486-10-10v-2H10z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    height: 4em;
    width: 4em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/**-------------------------------------Card-----------------------------------------------*/

.gradientborder {
    --border-width: 2px;
    background-color: #070707;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
    background: transparentq;
    border-radius: 10px;
}

.gradientborder::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(60deg, hsl(224, 85%, 66%), hsl(269, 85%, 66%), hsl(314, 85%, 66%), hsl(359, 85%, 66%), hsl(44, 85%, 66%), hsl(89, 85%, 66%), hsl(134, 85%, 66%), hsl(179, 85%, 66%));
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: 15px;
    animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}