.iframer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    transform: scale(1.5);
}

.section {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(#00000034, #000000);
    z-index: -10;
}

.imagen {
    top: 0;
    position: absolute;
    height: 40em;
    z-index: -1;
}

.section>h1 {
    font-size: 4em;
}

.parrafo {
    font-size: 1.1em;
    padding-left: 25em;
    padding-right: 25em;
}


.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
}

.parent>div {
    background-color: #3c3c3c;
    border-radius: 25px;
    width: 10em;
    height: 10em;
}

@media (max-width: 1200px) {
    .parrafo {
        padding-left: 2em;
        padding-right: 2em;
    }

    .parent>div {
        display: none;
    }
}